<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:format.raw>{element.javaScript}</f:format.raw>
<f:format.raw>{element.stylesheet}</f:format.raw>
</html>